[Unit]
Description=dApp SystemD units reload
Requires=dapp-systemd-bridge.service
After=dapp-systemd-bridge.service

[Service]
# TODO: this is ugly, make dapp-systemd-bridge fork after setting things up
# WARNING: this can cause races!
ExecStart=/bin/sleep 15
ExecStart=/bin/systemctl daemon-reload
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target