[Unit]
Wants=network.target
Wants=network-info.service
Wants=dapp-systemd-bridge.service
After=dapp-systemd-bridge.service

# Abort if docker fails
Requires=docker.service
After=docker.service

# Give up if the unit has failed to start 5 times in the last 5 minutes
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=always
RestartSec=30
# Prevent timeouting on image preload
# TODO: this logic has to be streamlined with dApp SDK
TimeoutStartSec=20min

# Prevent starting up rogue containers not in apps.json
ExecStartPre=/usr/bin/test -n ${DAPP_DOCKER_IMAGE}

# TODO: ugly hack, remove asap
# Both allowed to fail currently to play nicely with other dapps
ExecStartPre=/bin/bash -c "test -z \"$DAPP_CHOWN_PATHS\" || mkdir -p $DAPP_CHOWN_PATHS"
ExecStartPre=/bin/bash -c "test -z \"$DAPP_CHOWN_UID\" || test -z \"$DAPP_CHOWN_PATHS\" || chown $DAPP_CHOWN_UID $DAPP_CHOWN_PATHS"

# Preparatory steps, seen in status
ExecStartPre=/opt/titania/bin/dapp_load.sh ${DAPP_DOCKER_IMAGE}
ExecStartPre=/opt/titania/bin/dapp_pull.sh ${DAPP_DOCKER_IMAGE}

# TODO: removed image spec from here, relying on dapp_version for
ExecStartPre=/opt/titania/bin/dapp_prepare.sh %i \
	$DAPP_DOCKER_PORTS \
	$DAPP_DOCKER_ENV \
    $DAPP_DOCKER_VOLUMES

# Run the container and attach for journal
ExecStart=/usr/bin/docker start -a -i %i
ExecStop=/usr/bin/docker stop %i
ExecStartPost=/opt/titania/bin/dapp_register.sh start %i
ExecStopPost=/opt/titania/bin/dapp_register.sh stop %i

[Install]
WantedBy=multi-user.target
