.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
src/assets/css/sass/.sass-cache/
src/assets/css/.sass-cache/
build/
test/
static/
config/test.env.js
.postcssrc.js
.babelrc
.editorconfig
.eslintignore
.eslintrc.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.venv

vuedj/*.egg-info
vuedj/*.pot
vuedj/*.py[co]
vuedj/.tox/
vuedj/configtitania/__pycache__/*
vuedj/vuedj/__pycache__/*
vuedj/db.sqlite3
vuedj/configtitania/migrations/*
vuedj/MANIFEST
vuedj/dist/
vuedj/docs/_build/
vuedj/docs/locale/
vuedj/node_modules/
vuedj/tests/coverage_html/
vuedj/tests/.coverage
vuedj/build/
vuedj/tests/report/
