/*12 column grid*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-20-percent {
  width: 20%;
}

.col-40-percent {
  width: 40%;
}

.col-60-percent {
  width: 60%;
}

.col-80-percent {
  width: 80%;
}

.width-inherit {
  width: inherit;
}

/*Variables*/
/* Color Palette */
body {
  height: 100%;
  font-size: 13px;
  font-family: "Segoe UI", "SF UI text", sans-serif !important;
  margin: 0px;
}

.micro-fontsize {
  font-size: 11px !important;
  line-height: 16px;
}

.small-fontsize {
  font-size: 12px;
  line-height: 16px;
}

.regular-fontsize {
  font-size: 13px;
  line-height: 16px;
}

.large-fontsize {
  font-size: 14px;
  line-height: 16px;
}

.sans-serif-bold {
  font-weight: bold;
}

.sans-serif-header {
  font-weight: 400;
}

.float-left, .form-field-block {
  float: left;
}

.float-right {
  float: right;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.hide {
  display: none;
}

.outline-none {
  outline: none;
}

.button-primary {
  min-width: 90px;
  padding: 8px 16px;
  background-color: #0067C5;
  margin: 16px 0 16px 0px;
  color: white;
  border: 1px solid #00B8F6;
  outline: none;
}
.button-primary i {
  color: white;
}
.button-primary:hover {
  background-color: #0067C5;
  border-color: #0067C5;
}

.padding-right-20 {
  padding-right: 20px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.display-inline-flex {
  display: inline-flex !important;
  display: -ms-inline-flexbox !important;
}

.padding-top-bottom-16 {
  padding: 16px 0px;
}

.padding-left-16 {
  padding-left: 16px;
}

.input_c {
  width: 400px;
  height: 32px;
  line-height: 1.5;
  color: #212121;
  border: solid 1px #f2f2f2;
  padding: 0 8px;
}

.center-aligned-slider {
  position: fixed;
  background-color: #FFFFFF;
  right: 25%;
  left: 25%;
  top: 16px;
  bottom: 16px;
  z-index: 98;
  box-shadow: 0 0 30px 2px #B5B5B5;
  min-height: 500px;
  max-height: 780px;
  width: 660px;
  overflow-y: auto;
  margin: 0 auto;
}

.padding-20 {
  padding: 20px;
}

.box-name-field {
  height: 48px;
  width: 580px;
  padding: 0px 12px;
}

.header-fontsize {
  font-size: 16px !important;
}

.form-error {
  font-size: 16px;
  color: #C82506;
}

.cursor-pointer, .configure-add-options-menu span:not(.form-error) {
  cursor: pointer;
}

.configure-add-options-menu {
  padding: 0 20px;
  width: fit-content;
}
.configure-add-options-menu span:not(.form-error) {
  margin-right: 30px;
  display: inline-block;
  text-align: center;
}

.center-aligned-slider-body {
  background-color: #f4f5f7;
  margin: 0 20px;
  border: 1px solid #f4f5f7;
  padding: 10px 0;
  overflow-y: auto;
  min-height: 500px;
  max-height: 607px;
}

.form-label {
  margin: 0px 20px;
  color: #646A73;
}

.one-part-field {
  width: 178px;
  margin-left: 20px;
}

.form-field-block {
  margin-top: 10px;
}

.activeTab {
  color: #0067C5;
}

.save-config {
  width: 80px;
  height: 29px;
  background-color: #0365C0;
  margin: 16px 0 0 20px;
  color: #FFFFFF;
  border: 1px solid #0365C0;
}

.fadeout {
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 96;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

.logo-icon {
  margin: auto;
  height: 220px;
  width: 225px;
}

.logo-icon-small {
  height: 30px;
  width: 32px;
  margin: 5px;
}

.sidebar-container {
  width: 40px;
  float: left;
  color: #fff;
  min-height: 738px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 95;
  background-color: #d8d8d8;
  -webkit-transition: width 0.1s ease-in-out;
  -moz-transition: width 0.1s ease-in-out;
  -o-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.marginLeft40 {
  margin-left: 40px;
  width: 98% !important;
}

.header-inner-wrapper {
  width: 100%;
  height: 40px;
  background-color: white;
  box-shadow: 0px 0px 4px #ADADAD;
}

.page-title {
  color: white;
  background-color: #5F4660;
  height: 22px;
  padding: 12px 0px 6px 0px;
  font-weight: 400;
}

.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.single-events-div {
  width: 23%;
  height: 90px;
  padding: 40px 20px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 #ADADAD;
  margin-left: 22px;
  cursor: pointer;
}

.overview-event-count {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}

.overview-event-desc {
  color: var(--dark-grey);
}

.overview-events .total-servers,
.replication-legend .total-servers {
  color: #17E6E6;
}
.overview-events .disconnected-servers,
.replication-legend .disconnected-servers {
  color: #002452;
}
.overview-events .critical-servers,
.replication-legend .critical-servers {
  color: #C82506;
}
.overview-events .warning-servers,
.replication-legend .warning-servers {
  color: #F0BB2B;
}
.overview-events .normal-servers,
.replication-legend .normal-servers {
  color: #00882B;
}

.overview-servers-total {
  background-image: url("../images/servers-total.svg");
}

.overview-event-image {
  float: right;
  width: 56px;
  height: 56px;
}

.margin-20 {
  margin: 20px;
}

.display-flex {
  display: flex;
}

.events-desc-div {
  border-bottom: 2px solid #f2f2f2;
  width: 100%;
  padding-bottom: 20px;
}

.overview-events-link-div {
  display: block;
  margin-top: 20px;
}
