/*12 column grid*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-20-percent {
  width: 20%;
}

.col-40-percent {
  width: 40%;
}

.col-60-percent {
  width: 60%;
}

.col-80-percent {
  width: 80%;
}

.width-inherit {
  width: inherit;
}

body {
  font-size: 13px;
  font-family: "Segoe UI", "SF UI text", sans-serif !important;
}

.micro-fontsize {
  font-size: 11px !important;
  line-height: 16px;
}

.small-fontsize {
  font-size: 12px;
  line-height: 16px;
}

.regular-fontsize {
  font-size: 13px;
  line-height: 16px;
}

.large-fontsize {
  font-size: 14px;
  line-height: 16px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.outline-none {
  outline: none;
}

.button-primary {
  min-width: 90px;
  padding: 8px 16px;
  background-color: #00B8F6;
  margin: 16px 0 16px 18px;
  color: white;
  border: 1px solid #00B8F6;
  outline: none;
}
.button-primary i {
  color: white;
}
.button-primary:hover {
  background-color: #0067C5;
  border-color: #0067C5;
}

.padding-right-20 {
  padding-right: 20px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.display-inline-flex {
  display: inline-flex !important;
  display: -ms-inline-flexbox !important;
}

.padding-top-bottom-16 {
  padding: 16px 0px;
}

.input_c {
  width: 400px;
  height: 32px;
  line-height: 1.5;
  color: #212121;
  border: solid 1px #f2f2f2;
  padding: 0 8px;
}
