/*12 column grid*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-20-percent {
  width: 20%;
}

.col-40-percent {
  width: 40%;
}

.col-60-percent {
  width: 60%;
}

.col-80-percent {
  width: 80%;
}

.width-inherit {
  width: inherit;
}

/*Variables*/
/* Color Palette */
body {
  height: 100%;
  font-size: 13px;
  font-family: "Segoe UI", "SF UI text", sans-serif !important;
  margin: 0px;
}

.micro-fontsize {
  font-size: 11px !important;
  line-height: 16px;
}

.small-fontsize {
  font-size: 12px;
  line-height: 16px;
}

.regular-fontsize {
  font-size: 13px;
  line-height: 16px;
}

.large-fontsize {
  font-size: 14px;
  line-height: 16px;
}

.sans-serif-bold, .container-holder, .threads-table tr th {
  font-weight: bold;
}

.sans-serif-header {
  font-weight: 400;
}

.float-left, .form-field-block {
  float: left;
}

.float-right {
  float: right;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.config-input-field {
  margin-left: 0px;
  background: none;
  outline: none;
  display: inline-block;
  height: 32px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ADADAD;
}

input:not(.box-name-field):not(.config-input-field) {
  margin-left: 20px;
  margin-bottom: 16px;
  background-color: white;
  display: inline-block;
  height: 32px;
  border: none;
  padding: 4px 32px;
  background: none;
  outline: none;
  border-bottom: 1px solid #ADADAD;
}

.highcharts-background {
  height: 0px !important;
}

.hide {
  display: none;
}

.show {
  display: initial !important;
}

.outline-none {
  outline: none;
}

.button-primary {
  min-width: 90px;
  padding: 8px 16px;
  background-color: #8b6787;
  color: white;
  outline: none;
  height: 46px;
  border-radius: 0px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  width: 140px;
}
.button-primary i {
  color: white;
}
.button-primary:hover {
  background-color: #8b6787;
  border-color: #8b6787;
}

.padding-right-20 {
  padding-right: 20px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url("../images/titania-logo-bg-large.svg");
  background-repeat: space;
  background-position-x: right;
  height: -webkit-fill-available;
}

.display-inline-flex, .center-aligned-slider-body {
  display: inline-flex !important;
  display: -ms-inline-flexbox !important;
}

.padding-top-bottom-16 {
  padding: 16px 0px;
}

.padding-left-16 {
  padding-left: 16px;
}

.input_c {
  width: 400px;
  height: 32px;
  line-height: 1.5;
  color: #212121;
  border: solid 1px #f2f2f2;
  padding: 0 8px;
}

.center-aligned-slider {
  position: fixed;
  background-color: #FFFFFF;
  right: 25%;
  left: 25%;
  top: 16px;
  bottom: 16px;
  z-index: 98;
  box-shadow: 0 0 30px 2px #B5B5B5;
  height: 515px;
  width: 810px;
  overflow-y: auto;
  margin: auto;
}

.padding-20 {
  padding: 20px;
}

.box-name-field {
  height: 48px;
  width: 690px;
  padding: 0px 26px;
  border: none;
  border-bottom: 1px solid #ADADAD;
}

.header-fontsize {
  font-size: 16px !important;
}

.form-error {
  font-size: 16px;
  color: #C82506;
}

.cursor-pointer, .configure-add-options-menu span:not(.form-error), .details {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.configure-add-options-menu {
  padding: 0 20px;
  margin: auto;
  width: fit-content;
}
.configure-add-options-menu span:not(.form-error) {
  margin-right: 30px;
  display: inline-block;
  text-align: center;
}

.center-aligned-slider-body {
  margin: 0 32px;
  overflow-y: auto;
  height: 350px;
}
.center-aligned-slider-body div.config-slab {
  margin: 0px 4px;
  padding: 10px 32px;
  background-color: #f4f5f7;
}

.form-label {
  margin: 0px 20px;
  color: #646A73;
}

.one-part-field {
  width: 178px;
  margin-left: 20px;
}

.form-field-block {
  margin-top: 24px;
  display: inline-grid;
}

.activeTab {
  color: #0067C5;
  border-bottom: 2px solid #0067C5;
}

.save-config {
  margin: 14px 32px !important;
  width: 98px !important;
  height: 42px !important;
}

.config-headers {
  font-size: 16px;
  padding: 20px 0 10px 0px;
  display: block;
}

.fadeout {
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 96;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

.logo-icon {
  margin: auto;
  height: 252px;
  margin-top: 80px;
  width: 368px;
}

.logo-icon-config {
  margin: auto;
  height: 400px;
  width: 500px;
}

.config-help {
  font-size: 20px;
  padding: 20px;
}

.logo-icon-small {
  height: 30px;
  width: 44px;
  background-color: white;
  padding: 5px;
}

.tab-label {
  height: 48px;
  width: 32px;
  padding: 5px;
}

.sidebar-container {
  width: 54px;
  float: left;
  color: #fff;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  z-index: 95;
  background-color: #554151;
  -webkit-transition: width 0.1s ease-in-out;
  -moz-transition: width 0.1s ease-in-out;
  -o-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.marginLeft40 {
  margin-left: 54px;
  width: 95% !important;
}

.header-inner-wrapper {
  width: 100%;
  height: 40px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.page-title {
  color: #5F4660;
  height: 22px;
  padding: 12px 0px 6px 12px;
  font-weight: 400;
  margin-left: 54px;
}

.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.single-events-div {
  width: 20%;
  height: 84px;
  padding: 40px 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-left: 32px;
  cursor: pointer;
}

.overview-event-count {
  font-size: 28px;
  line-height: 1.3;
}

.overview-event-desc {
  color: var(--dark-grey);
}

.overview-events,
.replication-legend {
  width: 150px;
}
.overview-events .total-servers,
.replication-legend .total-servers {
  color: #8b6787;
}

.overview-event-image {
  float: right;
  width: 86px;
  height: 64px;
}

.margin-20 {
  margin: 20px 24px 20px 54px;
}

.display-flex {
  display: flex;
}

.events-desc-div {
  border-bottom: 1px solid #ADADAD;
  width: 248px;
  padding-bottom: 20px;
}

.overview-events-link-div {
  margin-top: 9px;
  color: #646A73;
}

.test-conn {
  width: 80px;
  height: 30px;
  margin: 22px 0 0 20px;
  background-color: #0365C0;
  color: #FFFFFF;
  border: 1px solid #0365C0;
}

.chart {
  margin-top: 40px;
  height: 360px;
  width: 1200px;
  margin-left: -8px;
}

.chart-new {
  margin-top: 40px;
  height: 400px;
  width: 550px;
}

.dashboard-wrapper {
  display: flow-root;
}

.chart-caption {
  margin: 32px 24px 0;
}

.time-picker {
  border: 1px solid #D8D8D8;
  padding: 4px 12px;
}

.display-inline-block {
  display: inline-block;
}

.padding-right-4 {
  padding-right: 4px;
}

.legend-series {
  margin: 60px 16px;
  width: 120px;
}
.legend-series div {
  float: left;
  width: 119px;
  display: block;
  text-align: left;
}
.legend-series span {
  font-size: 25px;
}

.legend-1, .legends div:nth-child(1) span {
  color: #3366cc;
}

.legend-2, .legends div:nth-child(2) span {
  color: #dc3912;
}

.legend-3, .legends div:nth-child(3) span {
  color: #ff9900;
}

.legend-4, .legends div:nth-child(4) span {
  color: #109618;
}

.margin-top-20 {
  margin-top: 20px;
}

.toast-warning {
  background-color: #C82506;
}

.toast-success {
  background-color: #00882B;
}

.toast-warning {
  background-color: #F0BB2B;
}

#my-toast {
  bottom: 38px !important;
  right: 15px !important;
}

.toolbar-header-options {
  float: right;
  padding: 13px;
}
.toolbar-header-options:hover {
  color: #0067C5;
}

.legends div > span {
  position: relative;
  top: 3px;
}

.activeDrilldown {
  background-color: azure;
}

.general-wrapper-table {
  box-shadow: 0 0 2px #ADADAD;
  overflow-y: auto;
  min-height: 500px;
  background-color: #FFFFFF;
  margin: 12px 16px 16px 32px;
}

.dapps-table thead tr td {
  color: #8b6787;
  font-size: 16px;
}
.dapps-table tr {
  text-align: left;
}
.dapps-table tr td {
  padding: 16px 8px;
  border-bottom: 1px solid #d8d8d8;
  vertical-align: bottom;
}
.dapps-table tr td span {
  font-size: 40px;
}

.state-dapps {
  width: 14px;
  position: relative;
  left: 8px;
  top: 2px;
}

.container-holder {
  width: 570px;
  border-bottom: 1px solid #d8d8d8;
  padding: 8px 16px 8px 16px;
  text-align: left;
  margin: 0px;
}

.text-align {
  text-align: left;
}

.label-wrapper {
  margin: 0 0px 0 35px;
  padding: 10px 0;
  color: #646A73;
}

.label-text {
  padding: 10px;
  color: #646A73;
}

.refresh-field {
  box-shadow: 0 2px 10px #ADADAD;
  height: 24px !important;
  padding: 4px 0px 4px 16px !important;
  border-bottom: none !important;
}

.state-picker {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  padding: 9px 12px;
  margin-left: 16px;
  width: 100px;
  height: 16px;
}

.dropdown {
  list-style-type: none;
  position: relative;
  top: -2px;
  width: 124px;
  height: 146px;
  margin-left: -12px;
  padding-left: 0px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.dropdown li {
  padding: 10px;
}
.dropdown li:hover {
  background-color: #f2f2f2;
  width: -webkit-fill-available;
}

.selected-wifi {
  background-color: white;
  padding: 9px;
  margin-top: 2px;
}

.dropdown-config {
  position: relative;
  top: 2px;
  left: 0px;
  margin: 0px;
  text-align: left;
  padding: 0px;
  list-style-type: none;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 2px #ADADAD;
}
.dropdown-config li {
  padding: 10px;
}
.dropdown-config li:hover {
  background-color: #f2f2f2;
}

.details {
  padding: 10px;
  position: absolute;
  right: 32px;
}
.details:hover {
  color: #0067C5;
}

.threads-filter {
  margin-left: 40px;
  margin-top: 10px;
  border: 1px solid;
}
.threads-filter div:nth-child(1) {
  border-right: 1px solid;
}
.threads-filter div {
  padding: 10px;
  cursor: pointer;
}

div.highlightedFilter {
  background-color: #0067C5;
  color: white;
  cursor: pointer;
}

.threads-wrapper {
  width: 94%;
  margin-left: 59px;
  position: absolute;
  margin-top: 65px;
  height: 554px;
  overflow-y: auto;
}

.threads-table tr {
  text-align: left;
}
.threads-table tr th {
  padding: 16px 8px;
  border-bottom: 1px solid #d8d8d8;
  vertical-align: bottom;
}
.threads-table tr td {
  padding: 16px 8px;
  border-bottom: 1px solid #d8d8d8;
  vertical-align: bottom;
}
.threads-table tr td span {
  font-size: 40px;
}

.container-threads-table {
  border: 1px solid #f2f2f2;
  box-shadow: 0 2px 4px #adadad;
}

.container-header {
  font-size: 16px;
  padding: 10px 0;
}

.legend-color {
  width: 6px;
  height: 16px;
}

.text-align-left {
  text-align: left;
}

.container-chart-wrapper {
  margin: 16px 32px;
  box-shadow: 0 2px 4px #ADADAD;
  height: fit-content;
}

.label-div-chart {
  padding: 4px 16px;
}
.label-div-chart:hover {
  background-color: #f2f2f2;
}

.label-chart-area {
  padding-bottom: 16px;
}
.label-chart-area div:nth-child(2) div.legend-color {
  background-color: #3366cc;
}
.label-chart-area div:nth-child(3) div.legend-color {
  background-color: #dc3912;
}
.label-chart-area div:nth-child(4) div.legend-color {
  background-color: #ff9900;
}
.label-chart-area div:nth-child(5) div.legend-color {
  background-color: #109618;
}

.margin-right-4 {
  margin-right: 4px;
}

.metrics-labels div {
  width: 55px;
  margin: 0px 40px;
}

.label-text-chart {
  width: 155px;
}

.stats-header {
  font-size: 15px;
  text-align: left;
  border-top: 1px solid #f2f2f2;
  padding: 9px 34px;
  box-shadow: 0 2px 0px #F2f2f2;
}

.hint-text {
  color: #ADADAD;
  margin: 0 0 0 -54px !important;
  width: 192px !important;
  font-size: 12px;
}

.fadeout-row {
  opacity: 0.3;
}

.each-stat-block {
  width: 670px;
  display: inline-block !important;
}

.x-scrollable {
  overflow-x: auto;
}

.stats-page {
  height: 737px;
  overflow-y: scroll;
  width: 97%;
}
