# via http://container-solutions.com/running-docker-containers-with-systemd/
# TODO: generalize maybe?
[Unit]
Description=Internet of People Profile Server
After=network_info.service
After=image-preinstall@libertaria_iop-loc_latest.service
Wants=image-preinstall@libertaria_iop-loc_latest.service
Wants=forward_port@16980.service
Wants=forward_port@16981.service
Wants=forward_port@16982.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/run/network_info.env
ExecStartPre=-/bin/mkdir /datafs/locnet
ExecStartPre=-/bin/chown 1000 /datafs/locnet
ExecStartPre=-/usr/bin/docker create -t --name %p -p 16980:16980 -p 16981:16981 -p 16982:16982 -v /datafs/locnet:/data/locnet -e LATITUDE="${LATITUDE}" -e LONGITUDE="${LONGITUDE}" -e NODEID="${PUBLIC_IP}" libertaria/iop-loc
ExecStart=/usr/bin/docker start -a %p

[Install]
WantedBy=multi-user.target
