[Unit]
Description=Grow SD data filesystem
DefaultDependencies=no
After=datafs.mount
BindsTo=datafs.mount
Before=shutdown.target

[Service]
Type=simple
ExecStart=/sbin/resize2fs /dev/mmcblk0p4
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target