# TODO: maybe part of Docker bbappend?
[Unit]
Description=Data SD card volumne
Requires=datafs-resizer.service
After=datafs-resizer.service
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=/dev/mmcblk0p4
Where=/datafs
Type=ext4
Options=defaults

[Install]
WantedBy=local-fs.target
