[Unit]
Description=Grow Titania data partition to maximum size
DefaultDependencies=no
Before=datafs.mount

[Service]
Type=oneshot
ExecStart=/opt/titania/bin/titania-grow-datafs.sh
RemainAfterExit=yes

[Install]
WantedBy=datafs.mount
