[Unit]
Description=Public IP and location detection
# NOTE: NetworkManager specific
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
ExecStart=/usr/bin/network_info.sh
ExecStop=/bin/rm -f /run/network_info.env
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
