[Unit]
Description=dApp SystemD units reload
Requires=pydapphubfuse.service
After=pydapphubfuse.service

[Service]
# TODO: this is ugly, make pydapphubfuse fork after setting things up
# WARNING: this can cause races!
ExecStart=/bin/sleep 15
ExecStart=/bin/systemctl daemon-reload
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target