[Unit]
Description=dApp Hub FUSE bridge

[Service]
WorkingDirectory=/opt/titania/share
# TODO: remainafterexit
# TODO: issue daemon-reload
ExecStart=/opt/titania/bin/pydapphubfuse.py apps.json /run/systemd/system /datafs/dapp

[Install]
WantedBy=multi-user.target