[Unit]
Description=dApp Hub FUSE bridge
# [Used to be starting before docker] allows dapp-systemd-bridge to start 
# properly and create the drop-ins before dapp@ serives
# are run. There is a possibility of race condition
# TODO: instead of this, fork and use other means to signal 
# that the service is in started state when all the dropins 
# are there
# Update: partly solved by -reload.service
# Before=docker.service

[Service]
WorkingDirectory=/opt/titania/share
# TODO: remainafterexit
# TODO: issue daemon-reload
ExecStart=/opt/titania/bin/dapp-systemd-bridge.py apps.json /run/systemd/system /datafs/dapp

[Install]
WantedBy=multi-user.target