/*12 column grid*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-20-percent {width: 20%;}
.col-40-percent {width: 40%;}
.col-60-percent {width: 60%;}
.col-80-percent {width: 80%;}
.width-inherit {width: inherit;}

/*Variables*/
/* Color Palette */
//Brand Colors
$aqua:                  #17E6E6;
$azurite:               #04285A;

$sapphire:              #34428B;
$ruby:                  #DC3246;
$gold:                  #FFD300;
$citrine:               #FF8C00;
$lime:                  #96CC29;
$topaz:                 #0067C5;
$zircon:                #00B8F6;

//Shades of Grey
$black:                 #000000;
$onyx:                  #212121;
$charcoal:              #727272;
$alumina:               #B8B8B8;
$ash:                   #DADADA;
$silver:                #F0F0F0;
$chrome:                #FAFAFA;
$white:                 #FFFFFF;

//Product
$brand-primary:         $aqua;
$brand-secondary:       #002452;

$brand-info:            $sapphire;
$brand-stable:          #00882B;
$brand-alert:           $citrine;
$brand-warning:         #F0BB2B;
$brand-critical:        #C82506;

//Text & Icons
$brand-text:            $onyx;
$brand-action:          $charcoal;

$brand-active:          $zircon;
$brand-inactive:        $alumina;

$brand-inverse:         $white;
$brand-link:            $topaz;
$brand-label:           #646A73;

//Others
$brand-bg:              $chrome;
$brand-highlight:       $silver;
$brand-divider:         $ash;
$button-save:           #0365C0;

body{
  height: 100%;
  font-size: 13px;
  font-family: "Segoe UI", "SF UI text", sans-serif !important;
  margin: 0px;
}

.micro-fontsize {
  font-size: 11px !important;
  line-height: 16px;
}
.small-fontsize {
  font-size: 12px;
  line-height: 16px;
}

.regular-fontsize {
  font-size: 13px;
  line-height: 16px;
}

.large-fontsize {
  font-size: 14px;
  line-height: 16px;
}

.sans-serif-bold {
  font-weight: bold;
}

.sans-serif-header {
  font-weight: 400;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.hide{
  display: none;
}

.outline-none{
  outline: none;
}

.button-primary {
  min-width: 90px;
  padding: 8px 16px;
  background-color: $brand-link;
  margin: 16px 0 16px 0px;
  color:  white;
  border: 1px solid #00B8F6;
  outline: none;
  i{
    color: white;
  }
  &:hover {
    background-color: $brand-link;
    border-color: $brand-link;
  }
}

.padding-right-20{
  padding-right: 20px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.display-inline-flex{
  display: inline-flex !important;
  display:-ms-inline-flexbox !important;
}

.padding-top-bottom-16{
  padding: 16px 0px;
}

.padding-left-16{
  padding-left: 16px;
}

.input_c{
  width: 400px;
  height: 32px;
  line-height: 1.5;
  color: #212121;
  border: solid 1px #f2f2f2;
  padding: 0 8px;
}

.center-aligned-slider{
  position: fixed;
  background-color: $brand-inverse;
  right: 25%;
  left: 25%;
  top: 16px;
  bottom: 16px;
  z-index: 98;
  box-shadow: 0 0 30px 2px #B5B5B5;
  min-height: 500px;
  max-height: 780px;
  width: 660px;
  overflow-y: auto;
  margin: 0 auto;
}

.padding-20{
  padding: 20px;
}

.box-name-field{
  height: 48px;
  width: 580px;
  padding: 0px 12px;
}

.header-fontsize {
  font-size: 16px !important;
}

.form-error{
    font-size: 16px;
    color: $brand-critical;
}

.cursor-pointer {
  cursor: pointer;
}

.configure-add-options-menu{
  padding: 0 20px;
  width: fit-content;
  span:not(.form-error){
    @extend .cursor-pointer;
    margin-right: 30px;
    display: inline-block;
    text-align: center;
  }
}

.center-aligned-slider-body{
  background-color: #f4f5f7;
  margin: 0 20px;
  border: 1px solid #f4f5f7;
  padding: 10px 0;
  overflow-y: auto;
  min-height: 500px;
  max-height: 607px;
}

.form-label{
  margin: 0px 20px;
  color: $brand-label;
}

.one-part-field{
  width: 178px;
  margin-left: 20px;
}

.form-field-block{
  @extend .float-left;
  margin-top: 10px;
}

.activeTab{
  color: $brand-link;
}

.save-config{
  width: 80px;
  height: 29px;
  background-color: $button-save;
  margin: 16px 0 0 20px;
  color: #FFFFFF;
  border: 1px solid $button-save;
}

.fadeout{
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 96;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

.logo-icon{
  margin: auto;
  height: 220px;
  width: 225px;
}

.logo-icon-small{
  height: 30px;
  width: 32px;
  margin: 5px;
}

.sidebar-container {
  width: 40px;
  float: left;
  color: #fff;
  min-height: 738px;
  overflow:hidden;
  white-space: nowrap;
  position: relative;
  z-index: 95;
  background-color: #d8d8d8;
 -webkit-transition: width 0.1s ease-in-out;
 -moz-transition: width 0.1s ease-in-out;
 -o-transition: width 0.1s ease-in-out;
 transition: width 0.1s ease-in-out;
}

.marginLeft40{
  margin-left: 40px;
  width: 98% !important;
}

.header-inner-wrapper{
  width: 100%;
  height: 40px;
  background-color: white;
  box-shadow: 0px 0px 4px #ADADAD;
}

.page-title {
  color: white;
  background-color: #5F4660;
  height: 22px;
  padding: 12px 0px 6px 0px;
  font-weight: 400;
}
